.new1{
    display: flex;
    justify-content: space-between;
    background-color: black;
    height: 10vw;
    width: 100%;
}
.new12{
    display: flex;
    justify-content: last baseline;
    margin: 0px;
}
.photo1{
    display: flex;
    justify-content: center;
    width: 12vw;
    height: 10vw;
   
}
.new13{
   
    display: flex;
    justify-content: center;
    
    width: 10vw;
    border-radius: 50%;
    border:double black 7px;
    text-align: center;
    background-color: blanchedalmond;
    font-size: 1vw;
}
.new14{
    margin: 2vw;
}
buuten1{
    
}